body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#f4f4f4;
}

h1{
    margin-top:20px;
}

.game{
    width:300px;
    margin:20px auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}

.hole{
    width:90px;
    height:90px;
    background:#7a5226;
    border-radius:50%;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

/* Mouse emoji */
.mole{
    position:absolute;
    bottom:-80px;
    left:50%;
    transform:translateX(-50%);
    font-size:50px;
    transition:0.25s;
}

/* Pop up animation */
.hole.up .mole{
    bottom:10px;
}

button{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}